html {
  box-sizing: border-box;
  background-color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: DrukWideCyrBold;
  src: url("../fonts/DrukWideCyrBold.otf") format("opentype");
}
@font-face {
  font-family: DrukWideCyrMedium;
  src: url("../fonts/DrukWideCyrMedium.otf") format("opentype");
}
h1 {
  font-family: "DrukWideCyrBold", sans-serif;
}

h2, h3, span {
  font-family: "DrukWideCyrMedium", sans-serif;
}

p, a, button {
  font-family: "Ubuntu", sans-serif;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: flex;
  padding: 20px 30px;
  border: 1px solid #2264FD;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2264FD;
}

.btn-arrow {
  padding-left: 6px;
}

.container {
  max-width: calc(100vw - 160px);
  padding: 0;
  margin: 0 auto;
  width: 1440px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.blue-text {
  color: #2264FD;
}

.columns {
  display: flex;
  margin: -6px;
}

.column {
  width: 49%;
  margin: 6px;
}

.item, .stage__item, .facts__item {
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  padding: 32px 40px;
}

input {
  background-color: inherit;
  vertical-align: middle;
  border: 0;
}

input::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

:root {
  --gap: 30px;
}

/* header */
.header {
  display: flex;
  background: #0B0B0B;
  padding: 30px 40px;
  border-bottom: 1px solid #696969;
}
.header__logo {
  display: flex;
}
.header__content {
  display: flex;
  margin-left: auto;
}
.header__content-contact {
  display: flex;
}
.header__content-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  padding-right: 54px;
}
.header__content-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.header__content-popup-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2264FD;
  padding: 0 89px;
}

/* hero */
.hero {
  background-color: #0B0B0B;
  border-radius: 0px 0px 32px 32px;
}
.hero .container {
  background-image: url("/410web-main/img/hero-bc.png");
  background-repeat: no-repeat;
  background-position: right;
}
.hero-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 81px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  width: 87%;
}
.hero__text-items {
  display: flex;
  margin-top: 70px;
}
.hero__text-item {
  display: flex;
  width: 20%;
}
.hero__text-item-stick {
  padding-right: 36px;
  margin-top: 10px;
}
.hero__text-item-stick-line {
  position: absolute;
  border-top: 1px solid #FFFFFF;
  width: 20px;
}
.hero__text-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  width: 70%;
}
.hero-btn {
  margin-top: 55px;
}

/* feature */
.feature-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-transform: uppercase;
  color: #000000;
}
.feature__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
}
.feature__item {
  display: flex;
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 48px 44px 48px 40px;
}
.feature__item-full {
  width: 100%;
}
.feature__item-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #000000;
}
.feature__item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

/* facts */
.facts {
  background: #0B0B0B;
  border-radius: 32px;
}
.facts__text-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 81px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.facts__text-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  width: 60%;
}
.facts__item-num {
  font-weight: 700;
  font-size: 65px;
  line-height: 81px;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.facts__item-descr {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 24px;
}
.facts__item:not(:last-child) {
  margin-bottom: 12px;
}

/* factors */
.factors__title {
  display: flex;
}
.factors__title-num {
  margin-right: 25px;
}
.factors__title-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #000000;
}
.factors__items {
  margin-top: 56px;
}
.factors__item {
  display: flex;
  border-top: 1px solid #000000;
  padding: 40px 0;
}
.factors-btn {
  display: flex;
  font-family: "DrukWideCyrMedium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #2264FD;
  text-align: left;
}
.factors__item-left {
  width: 30%;
}
.factors__item-right {
  display: flex;
  margin-left: auto;
  width: 55%;
}
.factors__item-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #000000;
}
.factors__item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.factors__item-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  width: 10%;
}

/* stage */
.stage {
  background: #0B0B0B;
  border-radius: 32px;
}
.stage__text-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 81px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.stage__text-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.stage__items {
  display: flex;
}
.stage__item-num {
  font-weight: 700;
  font-size: 65px;
  line-height: 81px;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.stage__item-descr {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* project */
.project__form {
  background: #F8F8F8;
  border-radius: 16px;
}
.project-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 81px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 80px;
}
.project__form {
  padding: 44px 65px;
  display: flex;
}
.project__form-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 62px;
}
.project__form-left {
  width: 100%;
}
.project__form-input {
  border-bottom: 1px solid #d6d6d6;
  padding: 20px 0;
  width: 48%;
}
.project__form-input:not(:last-child) {
  margin-right: 20px;
}
.project__form-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  opacity: 0.4;
  margin-bottom: 56px;
}
.project__form-btn {
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #2264FD;
  border-radius: 16px;
  padding: 22px;
  width: 100%;
  margin-bottom: 16px;
}
.project__form-span {
  font-weight: 300;
  font-size: 12px;
  line-height: 130%;
  color: #000000;
  opacity: 0.4;
}

/* manager */
.egor {
  position: absolute;
  z-index: -1;
  right: 160px;
}

.manager {
  padding-bottom: 0;
}
.manager-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #000000;
  width: 70%;
  text-align: left;
  padding-top: 20px;
}
.manager-btn {
  margin-top: 146px;
}
.manager-btn-egor {
  display: flex;
  flex-direction: column;
  background-color: #2264FD;
  color: #FFFFFF;
}
.manager-btn-egor-title {
  font-family: "DrukWideCyrMedium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-align: center;
}
.manager-btn-egor-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.manager-button {
  display: flex;
}
.manager__text {
  display: flex;
  margin-top: 74px;
  width: 50%;
}
.manager__text-img {
  margin-right: 32px;
}
.manager__text-descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  width: 50%;
}

/* calmness */
.calmness {
  background-color: #0B0B0B;
  border-radius: 32px;
}

/*# sourceMappingURL=style.css.map */
